<?xml version="1.0"?>
<GeneralInfo>
  <BaseInfo>
    <WindowTitle>3D Adventures 0.2.6</WindowTitle>
    <WindowWidth>1024</WindowWidth>
    <WindowHeight>768</WindowHeight>
	<Fullscreen>0</Fullscreen>
    <OpenGLMajorVersion>4</OpenGLMajorVersion>
	<OpenGLMinorVersion>3</OpenGLMinorVersion>
	<ProjectName>map1.AAETHER</ProjectName>
  </BaseInfo>
</GeneralInfo>